:root{
    --primary-color: #FF7833;
    --secondary-color:#31333B;
}
body{
    background-color: #444856;
}
#topo{
    background-color: var(--secondary-color);
    
}
#item{
    color:white;
}
h1, h2, h3{
    color:var(--primary-color);
}
p{
    color:#e7e7e7;
}