@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;;
}
:root{
    --primary-color: #004EDA;
    --gray:#F2F2F8;
    --default-padding:2rem;
}
body{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows:64px auto;
    margin:0;
}
.mainNav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-color: gray;
}
.topnav{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background-color:white;
    list-style: none;
}
.topnav_menu{
    list-style: none;
}
#profile,#settings{
    color: #b3acac;
}
#profile,#settings:hover{
    color: #8b8585;
}
.menu{
    list-style: none;
    padding: 0;
    margin:0;
    padding: var(--default-padding);
}

#titlelink{
    text-decoration: none;
}
#menuTitle{
    color:#111;
    text-transform:uppercase;
    font-size:1.5em; 
    padding-left: var(--default-padding);
    padding-top: var(--default-padding);
    display:inline-block; 
}
.nav-link{
    color:#b3acac;
    
}
.nav-link:hover{
    color:#8b8585;
}
#logout{
    padding-top: 35em;
}
main{
   grid-row: 2 / -1;
   grid-column: 2 / -1;
   background-color: var(--gray);
}
img{
    max-width: 100%;
}
