@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');
:root{
    --primary-color: #612674;
}

body{
    font-family: 'Oxygen', sans-serif;
}

#menu a{
    color: var(--primary-color);
    font-weight: bold;
    
}
#menuMobile{
    background-color: var(--primary-color);
}
#mobile a{
    color:white;
    font-weight: bold;
}
#mobile a:hover{
    background-color: #441b52;
}
.bannerTitle{
    font-weight: 700;
    font-size: 1.8em;
    color: white;
}
.bannerSubtitle{
    font-weight: 400;
    font-size:1.4em;
    color: white;
    /* color: color-mix(in srgb, var(--primary-color), white); */
}
#banner{
    text-align: center;
    padding:1em;
    background-color: #f6f6f6;
    
}

.servicos{
    background-color: #f6f6f6;
}

.icons{
    padding-left: 7.5em;
}
.servicosTitle{
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}


.descricao{
    font-weight: 400;
    line-height: 1.75em;
    text-align: center;
}

.tituloMain{
    color:var(--primary-color);
    font-weight: bold;
    letter-spacing: 2px;
    
}


@media screen and (min-width:300px) and (max-width:767px){
    #banner{
        background-color: var(--primary-color);
        color: white;
        margin-top: 1em;
        
    }
    .bannerTitle{
        color:rgba(255, 255, 255, 0.89);
    }
    .bannerSubtitle{
        color: white;
    }
    .icons{
        padding-left: 10em;
    }
   
}
@media screen and (min-width:768px) {
    #banner{
        background-image: url(images/bg_topo_1198x670.jpg);
        background-size: cover;
        background-position: center top;
        
        
    }
    
}